body {
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
}

#top {
    flex-direction: column;
    background-color: #1F2937;
}
/* first main container */ 
.header {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    padding: 20px 300px;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 800;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 8px;
}

a {
    text-decoration: none;
}

a, .subtext {
    font-size: 18px;
    color: #b3b4b8;
}

.boxpic{
    display: flex;
    padding: 100px 300px;
    justify-content: space-between;
    max-height: 300px;
}

.herobox {
    display: flex;
    flex-direction: column;
    max-width: 300px;
}

.herotext {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin-bottom: 16px;
}

.subtext {
    width: 500px;
    margin-bottom: 16px;
}

#first {
    color: white;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 16px;
    background: rgb(38, 134, 224);
    margin-right: auto;
    padding: 8px 32px;
}

.placeholder {
    position: relative;
    width: 700px;
    height: 250px;
    align-self: center;
    line-height: 125px;
    text-align: center;
    border: 10px white;
    margin-left: 200px;
}

/* second container */ 
.info {
    display: flex;
    flex: 1;
    background-color: white;
    justify-content: center;
}

.infoheader {
    font-size: 36px;
    font-weight: 800;
    padding: 36px;
    text-align: center;
}

.info {
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 20px 300px;
}

.infobox {
    padding: 50px;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 100px;
}

.images {
    display: flex;
    flex-direction: column;
}

.infoimg {
    border-radius: 16px;
    width: 100px;
    height: 100px;
}

.infosubtext {
    width: 100px;
    text-align: center;
}

/*third container*/

#third {
    display: flex;
    background-color: #E5E7EB;
    justify-content: center;
    align-items: center;
}

.txtthird {
    display: flex;
    flex-direction: column;
    margin: 200px 300px;
}

.bigassquote {
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
}

.sig {
    font-size: 24px;
    font-weight: 800;
    align-self: flex-end;
}

/*4th cont*/

#fourth {
    justify-content: center;
    align-items: center;

}

.promptbox {
    display: flex;
    background-color: rgb(129, 201, 224);
    border-radius: 16px;
    max-width: 1000px;
    padding: 50px;
    margin: 100px;
}

#txtfourcont {
    display: flex;
    flex-direction: column;
}

.txtfour, .foursubtxt {
    color: #F9FAF8;
}

.txtfour {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 8px;
}

#signup {
    color: white;
    border: 2px solid white;
    border-radius: 16px;
    font-size: 16px;
    font-weight: 600;
    background: rgb(38, 134, 224);
    margin-right: auto;
    padding: 8px 32px;
    margin-left: 8px;
}

/*footer*/